html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.new-game-button {
  line-height: 60px;
  font-size: 24px;
  border: none;
  background: hsl(242deg 88% 66%);
  cursor: pointer;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.winner-badge {
  text-align: center;
  transition: all .3s;
}

footer {
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
}